{% include 'admin_header.html'  %}
<div id='page-wrapper'>
	<div id='page-inner'>
		<div class='row'>
			<div class='col-md-12'>
				<h1>Message to driver</h1>
				<div class='form'>
				{% if not data['update_data'] %}
					<form method='post' enctype='multipart/form-data'>
					<div class='form-group'>
						<label><b>First name</b></label>
						<br>
						<select class='form-control'  name='user_id'>
							<option disabled selected>Choose user</option>
						{% for row in data['user']  %}
							<option value="{{row['user_id']}}">{{row['first_name']}}</option>
						{% endfor  %}
						</select>
					</div>
						<div class='form-group'>
							<label><b>Description</b></label>
							<br>
							<input class='form-control' placeholder='Description' pattern='{1,25}' type = 'text' required name='description'>
						</div>
						<div class='form-group'>
							<input type='submit' class='btn btn-success' required name='add_message' value='Submit'>
						</div>
					</form>
				{% else %}
					<form method='post' enctype='multipart/form-data'>
							<input value="{{data['update_data'][0]['message_id']}}" class='form-control' type='hidden' required name='message_id'>
						<div class='form-group'>
							<input value="{{data['update_data'][0]['description']}}" class='form-control' placeholder='Description' type='text' required name='description'>
						</div>
						<div class='form-group'>
							<input type='submit' class='btn btn-success' required name='update_message' value='Update'>
						</div>
					</form>
					{% endif %}
				</div>
			</div>
		</div>
		<div class='row'>
			<div class='col-md-12'>
				<table class='table'>
					<thead>
						<tr>
							<th>Description</th>
							<th>First name</th>
							<th>Description</th>
							<th>Status</th>
							<th>Edit</th>
							<th>Remove</th>
						</tr>
					</thead>
					<tbody>
						{% for row in data['message'] %}
							<tr>
								<td>{{row['description']}}</td>
								<td>{{row['first_name']}}</td>
								<td>{{row['description']}}</td>
								<td>{{row['status']}}</td>
								<td><a href='?action=update&id={{row['message_id']}}'>Edit</a></td>
								<td><a href='?action=remove&id={{row['message_id']}}'>Remove</a></td>
							</tr>
						{% endfor %}
				</tbody>
				<table>
			</div>
		</div>
	</div>
</div>
{% include 'admin_footer.html'  %}
