{% include 'public_header.html'  %}
<!-- 	<div id='page-wrapper'>
		<div id='page-inner'>
			<div class='row'>
				<div class='col-md-12'>
					<h1>Welcome public</h1>
				</div>
			</div>
		</div>
	</div> -->


	<div class="single-hero-slide d-flex align-items-center justify-content-center">
                <!-- Slide Img -->
                <div class="slide-img bg-img" style="background-image: url(/static/one-music/img/bg-img/bg-1.jpg);"></div>
                <!-- Slide Content -->
                <div class="container">
                    <div class="row">
                    	<div class="col-2"></div>
                     <div class="col-8">
					<h1 style="color: white;"><center>Login</center></h1>
					<div class='form'>
						 <div class="login-form">
						<form method='post' enctype='multipart/form-data'>
							<div class='form-group'>
								
								<input type='text' class='form-control' placeholder='Username' required name='username' style="background-color: transparent;">
							</div>
							<!-- <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter E-mail"> -->
							<div class='form-group'>
								<input type='password' class='form-control' placeholder='Password' required name='password' style="background-color: transparent;" >
							</div>
							<div class='form-group' align="right">
								<input type='submit' class='btn btn-success' required name='submit' value='Submit'>
							</div>
						</form>






					</div>
				</div>
			</div>
		</div>
	</div>
{% include 'public_footer.html'  %}
