{% include 'public_header.html'  %}
<!-- 	<div id='page-wrapper'>
		<div id='page-inner'>
			<div class='row'>
				<div class='col-md-12'>
					<h1>Welcome public</h1>
				</div>
			</div>
		</div>
	</div> -->


	<div class="single-hero-slide d-flex align-items-center justify-content-center">
                <!-- Slide Img -->
                <div class="slide-img bg-img" style="background-image: url(/static/one-music/img/bg-img/bg-1.jpg);"></div>
                <!-- Slide Content -->
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="hero-slides-content text-center">
                                <h6 data-animation="fadeInUp" data-delay="100ms">Drowsy</h6>
                                <h2 data-animation="fadeInUp" data-delay="300ms">Driver Detection <span>Driver Detection</span></h2>
                                <!-- <a data-animation="fadeInUp" data-delay="500ms" href="#" class="btn oneMusic-btn mt-50">Discover <i class="fa fa-angle-double-right"></i></a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Hero Slide -->
            <div class="single-hero-slide d-flex align-items-center justify-content-center">
                <!-- Slide Img -->
                <div class="slide-img bg-img" style="background-image: url(/static/one-music/img/bg-img/bg-2.jpg);"></div>
                <!-- Slide Content -->
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="hero-slides-content text-center">
                                <h6 data-animation="fadeInUp" data-delay="100ms">Drowsy</h6>
                                <h2 data-animation="fadeInUp" data-delay="300ms">Driver Detection <span>Driver Detection</span></h2>
                                <!-- <a data-animation="fadeInUp" data-delay="500ms" href="#" class="btn oneMusic-btn mt-50">Discover <i class="fa fa-angle-double-right"></i></a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% include 'public_footer.html'  %}
